i106-talent-to-mis-logic-apps/RWSunriseI106-WorkerContact/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "oracle_1_Connection_Name": {
      "type": "string",
      "defaultValue": "oracle"
    },
    "oracle_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Oracle Talent PROD Staging"
    },
    "oracle_1_server": {
      "type": "string",
      "metadata": {
        "description": "Specify the Oracle Server. If a port or SID is required, specify in the form of ServerName:Port/SID."
      },
      "defaultValue": "ZUK1.WORLD"
    },
    "oracle_1_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "defaultValue": "basic",
      "allowedValues": [
        "basic"
      ]
    },
    "oracle_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "oracle_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "oracle_1_gateway_id": {
      "type": "string",
      "defaultValue": "/subscriptions/51132d16-72f5-491f-90db-30b922b816e6/resourceGroups/RW-RG-NE-DataGateway/providers/Microsoft.Web/connectionGateways/DataGWProd-ANE"
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Talent BYOD PROD"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "byodb-prod.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "TALENT-BYODB-PROD"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ERPservicealerts@robertwalters.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "var_QueryEmptyResultObj": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Query Empty Result Object",
                    "type": "Object",
                    "value": {}
                  }
                ]
              },
              "runAfter": {}
            },
            "var_SyncTimeKey": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Sync Time Key",
                    "type": "Integer"
                  }
                ]
              },
              "runAfter": {
                "var_QueryEmptyResultObj": [
                  "Succeeded"
                ]
              }
            },
            "Worker_Contact_Scope": {
              "type": "Scope",
              "actions": {
                "Query_Worker_Contact": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "query": "select Distinct top (5000) C.PERSONNELNUMBER\n, C.TYPE\n, C.LOCATOR\n, C.DESCRIPTION\n, C.LOCATOREXTENSION\n, C.ISPRIMARY\n, T.POSITIONID\n, T2.LEGALENTITYID\nFrom dbo.HcmWorkerContactStaging C\nCross Apply     (Select POSITIONID\n                From [dbo].[HcmPositionWorkerAssignmentStaging] W \n                Where W.PERSONNELNUMBER = C.PERSONNELNUMBER \n                And GETDATE() BETWEEN  W.VALIDFROM AND W.VALIDTO \n                ) T \nCross Apply    (Select top 1 LEGALENTITYID \n                From [dbo].[HcmEmploymentStaging] E\n                Where E.PERSONNELNUMBER = C.PERSONNELNUMBER \n                And E.LEGALENTITYID In ('IRE', 'IR2', 'NE1', 'NE9', 'NET')\n                And GETDATE() BETWEEN  E.EMPLOYMENTSTARTDATE AND E.EMPLOYMENTENDDATE \n                Order BY E.EMPLOYMENTSTARTDATE Desc) T2 \nWHERE ((C.DESCRIPTION = 'Direct' AND C.TYPE = 5)\nOR (C.DESCRIPTION =  'Corporate Mobile' AND C.TYPE = 1)\nOR (C.DESCRIPTION =  'Onsite' AND C.TYPE = 2))"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('byodb-prod.database.windows.net'))},@{encodeURIComponent(encodeURIComponent('TALENT-BYODB-PROD'))}/query/sql"
                  },
                  "runAfter": {}
                },
                "Confirm_Contact_payload_exist": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Query_Worker_Contact')?['resultsets']",
                            "@variables('Query Empty Result Object')"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Check_for_synch_in_process": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['oracle']['connectionId']"
                          }
                        },
                        "method": "get",
                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_LAST_SYNCH_TIME]'))}/items",
                        "queries": {
                          "$filter": "SYNCH_IN_PROGRESS eq 1"
                        }
                      },
                      "runAfter": {}
                    },
                    "Is_there_a_synch_in_process": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@length(body('Check_for_synch_in_process')?['value'])",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Check_for_logic_app_synch": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['oracle']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_LAST_LOGICAPP_TIME]'))}/items",
                            "queries": {
                              "$filter": "LAPP_IN_PROGRESS eq 1"
                            }
                          },
                          "runAfter": {}
                        },
                        "Is_there_a_logic_app_synch_in_process": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Check_for_logic_app_synch')?['value'])",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Insert_sync_in_progress": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "TALENT_LAST_LOGICAPP_TIME_KEY": 0,
                                  "START_TIME": "@{utcNow()}"
                                },
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_LAST_LOGICAPP_TIME]'))}/items"
                              },
                              "runAfter": {}
                            },
                            "Set_Synch_Time_Key": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Sync Time Key",
                                "value": "@body('Insert_sync_in_progress')?['TALENT_LAST_LOGICAPP_TIME_KEY']"
                              },
                              "runAfter": {
                                "Insert_sync_in_progress": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Update_synch_in_process": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "patch",
                                "body": {
                                  "TALENT_LAST_LOGICAPP_TIME_KEY": "@variables('Sync Time Key')",
                                  "END_TIME": "@{utcNow()}",
                                  "LAPP_IN_PROGRESS": 0
                                },
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_LAST_LOGICAPP_TIME]'))}/items/@{encodeURIComponent(encodeURIComponent(variables('Sync Time Key')))}"
                              },
                              "runAfter": {
                                "Loop_through_items": [
                                  "Succeeded",
                                  "Failed",
                                  "Skipped",
                                  "TimedOut"
                                ]
                              }
                            },
                            "Loop_through_items": {
                              "type": "Foreach",
                              "foreach": "@body('Query_Worker_Contact')?['resultsets']?['Table1']",
                              "actions": {
                                "Get_worker": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['oracle']['connectionId']"
                                      }
                                    },
                                    "method": "get",
                                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items",
                                    "queries": {
                                      "$filter": "POSITION_ID eq '@{items('Loop_through_items')?['POSITIONID']}'",
                                      "$select": "TALENT_ID, CORPORATEMOBILE, CORPORATEFAX, RS_ONSITE_EMAIL_ADDRESS"
                                    }
                                  },
                                  "runAfter": {}
                                },
                                "Confirm_worker_exist": {
                                  "type": "If",
                                  "expression": {
                                    "and": [
                                      {
                                        "equals": [
                                          "@length(body('Get_worker')?['value'])",
                                          1
                                        ]
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "Set_Mobile_variable": {
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "Mobile",
                                        "value": "@{body('Get_worker')?['value'][0]?['CORPORATEMOBILE']}"
                                      },
                                      "runAfter": {}
                                    },
                                    "Set_Fax_variable": {
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "Fax",
                                        "value": "@{body('Get_worker')?['value'][0]?['CORPORATEFAX']}"
                                      },
                                      "runAfter": {
                                        "Set_Mobile_variable": [
                                          "Succeeded"
                                        ]
                                      }
                                    },
                                    "Set_Email_Onsite_variable": {
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "Email Onsite",
                                        "value": "@{body('Get_worker')?['value'][0]?['RS_ONSITE_EMAIL_ADDRESS']}"
                                      },
                                      "runAfter": {
                                        "Set_Fax_variable": [
                                          "Succeeded"
                                        ]
                                      }
                                    },
                                    "Confirm_Mobile": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['TYPE']",
                                              1
                                            ]
                                          },
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['DESCRIPTION']",
                                              "@string('Corporate Mobile')"
                                            ]
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Set_Mobile": {
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "Mobile",
                                            "value": "@{items('Loop_through_items')?['LOCATOR']}"
                                          },
                                          "runAfter": {}
                                        }
                                      },
                                      "runAfter": {
                                        "Set_Email_Onsite_variable": [
                                          "Succeeded"
                                        ]
                                      }
                                    },
                                    "Confirm_Fax": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['TYPE']",
                                              5
                                            ]
                                          },
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['DESCRIPTION']",
                                              "@string('Direct')"
                                            ]
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Set_Fax": {
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "Fax",
                                            "value": "@{items('Loop_through_items')?['LOCATOR']}"
                                          },
                                          "runAfter": {}
                                        }
                                      },
                                      "runAfter": {
                                        "Confirm_Mobile": [
                                          "Succeeded"
                                        ]
                                      }
                                    },
                                    "Confirm_Onsite": {
                                      "type": "If",
                                      "expression": {
                                        "and": [
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['TYPE']",
                                              2
                                            ]
                                          },
                                          {
                                            "equals": [
                                              "@items('Loop_through_items')?['DESCRIPTION']",
                                              "@string('Onsite')"
                                            ]
                                          }
                                        ]
                                      },
                                      "actions": {
                                        "Set_Onsite": {
                                          "type": "SetVariable",
                                          "inputs": {
                                            "name": "Email Onsite",
                                            "value": "@{items('Loop_through_items')?['LOCATOR']}"
                                          },
                                          "runAfter": {}
                                        }
                                      },
                                      "runAfter": {
                                        "Confirm_Fax": [
                                          "Succeeded"
                                        ]
                                      }
                                    },
                                    "Update_row": {
                                      "type": "ApiConnection",
                                      "inputs": {
                                        "host": {
                                          "connection": {
                                            "name": "@parameters('$connections')['oracle']['connectionId']"
                                          }
                                        },
                                        "method": "patch",
                                        "body": {
                                          "TALENT_ID": "@{items('Loop_through_items')?['PERSONNELNUMBER']}",
                                          "POSITION_ID": "@{items('Loop_through_items')?['POSITIONID']}",
                                          "CORPORATEMOBILE": "@variables('Mobile')",
                                          "CORPORATEFAX": "@variables('Fax')",
                                          "RS_ONSITE_EMAIL_ADDRESS": "@variables('Email Onsite')"
                                        },
                                        "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items/@{encodeURIComponent(encodeURIComponent(items('Loop_through_items')?['POSITIONID']))}"
                                      },
                                      "runAfter": {
                                        "Confirm_Onsite": [
                                          "Succeeded"
                                        ]
                                      }
                                    }
                                  },
                                  "runAfter": {
                                    "Get_worker": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {
                                "Set_Synch_Time_Key": [
                                  "Succeeded"
                                ]
                              },
                              "runtimeConfiguration": {
                                "concurrency": {
                                  "repetitions": 1
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "Check_for_logic_app_synch": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "Check_for_synch_in_process": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Query_Worker_Contact": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "var_Fax": [
                  "Succeeded"
                ]
              }
            },
            "Confirm_status_of_worker_contact_scope": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@result('Worker_Contact_Scope')[0]['status']",
                        "Succeeded"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Error_handling_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "michael.kuforiji@robertwalters.com",
                      "Subject": "Error occurred on RWSunriseI106-WorkerContact workflow running in Azure",
                      "Body": "Hello Support\n\nAn error has occurred during the processing of records received from MIS service bus queue. This error happened inside the loop through JSON payload.\nPlease investigate this issue in Azure. The workflow project is called RWSunriseI106-SaveWorkerContact.\n\nOnce this problem has been resolved the record will be re-discovered and should be processed successfully.\n\nThank you\n"
                    },
                    "path": "/Mail"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Worker_Contact_Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            },
            "var_EmailOnsite": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Email Onsite",
                    "type": "String",
                    "value": "@{null}"
                  }
                ]
              },
              "runAfter": {
                "var_Mobile": [
                  "Succeeded"
                ]
              }
            },
            "var_Fax": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Fax",
                    "type": "String",
                    "value": "@{null}"
                  }
                ]
              },
              "runAfter": {
                "var_EmailOnsite": [
                  "Succeeded"
                ]
              }
            },
            "var_Mobile": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Mobile",
                    "type": "String",
                    "value": "@{null}"
                  }
                ]
              },
              "runAfter": {
                "var_SyncTimeKey": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 6
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "oracle": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
                "connectionName": "[parameters('oracle_1_Connection_Name')]"
              },
              "office365_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('oracle_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]"
        },
        "displayName": "[parameters('oracle_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('oracle_1_server')]",
          "authType": "[parameters('oracle_1_authType')]",
          "username": "[parameters('oracle_1_username')]",
          "password": "[parameters('oracle_1_password')]",
          "gateway": {
            "id": "[parameters('oracle_1_gateway_id')]"
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}