i106-talent-to-mis-logic-apps/RWSunriseI106-SavePositionToMIS/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      },
      "defaultValue": ""
    },
    "TableSchema": {
      "type": "string",
      "metadata": {
        "description": "Database table schema"
      },
      "defaultValue": ""
    },
    "SqlServerName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of SQL Server host"
      },
      "defaultValue": ""
    },
    "SqlDatabaseName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of Database"
      },
      "defaultValue": ""
    },
    "SupportEmailAddress": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Email address for error handling"
      },
      "defaultValue": ""
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "oracle_1_Connection_Name": {
      "type": "string",
      "defaultValue": "oracle"
    },
    "oracle_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Oracle Talent PROD Staging"
    },
    "oracle_1_server": {
      "type": "string",
      "metadata": {
        "description": "Specify the Oracle Server. If a port or SID is required, specify in the form of ServerName:Port/SID."
      },
      "defaultValue": "ZUK1.WORLD"
    },
    "oracle_1_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "defaultValue": "basic",
      "allowedValues": [
        "basic"
      ]
    },
    "oracle_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "oracle_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "oracle_1_gateway_id": {
      "type": "string",
      "defaultValue": "/subscriptions/51132d16-72f5-491f-90db-30b922b816e6/resourceGroups/RW-RG-NE-DataGateway/providers/Microsoft.Web/connectionGateways/DataGWProd-ANE"
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Talent BYOD PROD"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "byodb-prod.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "TALENT-BYODB-PROD"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ERPservicealerts@robertwalters.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Oracle_BYOD_Scope": {
              "type": "Scope",
              "actions": {
                "Switch": {
                  "type": "Switch",
                  "expression": "@triggerBody()['querySubject']",
                  "cases": {
                    "Position_Case": {
                      "case": "byod/talent/Positions",
                      "actions": {
                        "Loop_through_items": {
                          "type": "Foreach",
                          "foreach": "@triggerBody()['items']",
                          "actions": {
                            "Get_worker_position": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items",
                                "queries": {
                                  "$filter": "POSITION_ID eq '@{items('Loop_through_items')?['PositionId']}'",
                                  "$select": "EMAILADDRESS"
                                }
                              },
                              "runAfter": {}
                            },
                            "Check_worker_exist": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@length(body('Get_worker_position')?['value'])",
                                      1
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Update_Position": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['oracle']['connectionId']"
                                      }
                                    },
                                    "method": "patch",
                                    "body": {
                                      "TALENT_ID": "@{items('Loop_through_items')?['WorkerNumber']}",
                                      "POSITION_ID": "@{items('Loop_through_items')?['PositionId']}",
                                      "ONSITE": "@items('Loop_through_items')?['OnsiteCustom']",
                                      "REALTITLE": "@{items('Loop_through_items')?['TitleId']}",
                                      "LOCATION_CODE": "@{items('Loop_through_items')?['CompensationRegionId']}",
                                      "DEPARTMENT_CODE": "@{items('Loop_through_items')?['DepartmentNumber']}",
                                      "LOCATION_NAME": "@{items('Loop_through_items')?['LocationName']}",
                                      "DIVISION_NAME": "@{items('Loop_through_items')?['DivisionCustom']}",
                                      "DEPARTMENT_NAME": "@{items('Loop_through_items')?['DepartmentName']}"
                                    },
                                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items/@{encodeURIComponent(encodeURIComponent(items('Loop_through_items')?['PositionId']))}"
                                  },
                                  "runAfter": {
                                    "Confirm_Assignment_Start_status": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Execute_Position_stored_procedure": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "EXECUTIONID": "@{items('Loop_through_items')?['ExecutionIdPosition']}",
                                      "PARTITION": "@{items('Loop_through_items')?['PartitionPosition']}",
                                      "POSITIONID": "@{items('Loop_through_items')?['PositionId']}"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_flag_processed_HcmPositionV2Staging]'))}"
                                  },
                                  "runAfter": {
                                    "Update_Position": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Confirm_Assignment_Start_status": {
                                  "type": "If",
                                  "expression": {
                                    "and": [
                                      {
                                        "not": {
                                          "equals": [
                                            "@items('Loop_through_items')?['IsPositionFutureStarterFlag']",
                                            0
                                          ]
                                        }
                                      }
                                    ]
                                  },
                                  "actions": {
                                    "Set_Available_Assignment_date_variable": {
                                      "type": "SetVariable",
                                      "inputs": {
                                        "name": "Position Start Date",
                                        "value": "@{items('Loop_through_items')?['AvailableForAssignmentDate']}"
                                      },
                                      "runAfter": {}
                                    }
                                  },
                                  "runAfter": {
                                    "Reset_Position_Start_Date_variable": [
                                      "Succeeded"
                                    ]
                                  },
                                  "else": {
                                    "actions": {
                                      "Set_Position_Start_date_variable": {
                                        "type": "SetVariable",
                                        "inputs": {
                                          "name": "Position Start Date",
                                          "value": "@{items('Loop_through_items')?['PositionAssignmentStartDate']}"
                                        },
                                        "runAfter": {}
                                      }
                                    }
                                  }
                                },
                                "Reset_Position_Start_Date_variable": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "Position Start Date",
                                    "value": "@{null}"
                                  },
                                  "runAfter": {}
                                }
                              },
                              "runAfter": {
                                "Get_worker_position": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Execute_Worker_update_SQL_query": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['sql']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": {
                                        "query": "update [@{parameters('tableSchema')}].[HcmWorkerStaging_H] \nset TO_BE_PROCESSED = 'Y'\nwhere PERSONNELNUMBER = '@{items('Loop_through_items')?['WorkerNumber']}'"
                                      },
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/query/sql"
                                    },
                                    "runAfter": {}
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "Position_Assignment_Case": {
                      "case": "byod/talent/PositionAssignments",
                      "actions": {
                        "Loop_through_posAssign": {
                          "type": "Foreach",
                          "foreach": "@triggerBody()['items']",
                          "actions": {
                            "Get_worker_position_assign": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items",
                                "queries": {
                                  "$filter": "POSITION_ID eq '@{items('Loop_through_posAssign')?['PositionId']}'",
                                  "$select": "EMAILADDRESS"
                                }
                              },
                              "runAfter": {}
                            },
                            "Check_worker_position_exist_": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@length(body('Get_worker_position_assign')?['value'])",
                                      1
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Update_Position_Assignment": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['oracle']['connectionId']"
                                      }
                                    },
                                    "method": "patch",
                                    "body": {
                                      "TALENT_ID": "@{items('Loop_through_posAssign')?['WorkerNumber']}",
                                      "POSITION_ID": "@{items('Loop_through_posAssign')?['PositionId']}",
                                      "POSITION_START": "@{formatDateTime(items('Loop_through_posAssign')?['ValidFrom'], 'yyyy-MM-dd')}",
                                      "POSITION_END": "@{formatDateTime(items('Loop_through_posAssign')?['ValidTo'], 'yyyy-MM-dd')}",
                                      "PRIMARY_POSITION_RECORD": "@items('Loop_through_posAssign')?['IsPositionPrimary']"
                                    },
                                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items/@{encodeURIComponent(encodeURIComponent(items('Loop_through_posAssign')?['PositionId']))}"
                                  },
                                  "runAfter": {}
                                },
                                "Execute_Position_assignment_stored_procedure": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "EXECUTIONID": "@{items('Loop_through_posAssign')?['ExecutionIdPositionAssign']}",
                                      "PARTITION": "@{items('Loop_through_posAssign')?['PartitionPositionAssign']}",
                                      "POSITIONID": "@{items('Loop_through_posAssign')?['PositionId']}",
                                      "VALIDFROM": "@{formatDateTime(items('Loop_through_posAssign')?['ValidFrom'], 'yyyy-MM-ddTHH:mm:ssZ')}",
                                      "VALIDTO": "@{formatDateTime(items('Loop_through_posAssign')?['ValidTo'], 'yyyy-MM-ddTHH:mm:ssZ')}"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_flag_processed_HcmPositionWorkerAssignmentStaging]'))}"
                                  },
                                  "runAfter": {
                                    "Update_Position_Assignment": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {
                                "Get_worker_position_assign": [
                                  "Succeeded"
                                ]
                              },
                              "else": {
                                "actions": {
                                  "Execute_Worker_update_SQL_query_2": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                      "host": {
                                        "connection": {
                                          "name": "@parameters('$connections')['sql']['connectionId']"
                                        }
                                      },
                                      "method": "post",
                                      "body": {
                                        "query": "update [@{parameters('tableSchema')}].[HcmWorkerStaging_H] \nset TO_BE_PROCESSED = 'Y'\nwhere PERSONNELNUMBER = '@{items('Loop_through_posAssign')?['WorkerNumber']}'"
                                      },
                                      "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/query/sql"
                                    },
                                    "runAfter": {}
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "Position_Hierarchy_Case": {
                      "case": "byod/talent/PositionHierarchy",
                      "actions": {
                        "Loop_through_posHier": {
                          "type": "Foreach",
                          "foreach": "@triggerBody()['items']",
                          "actions": {
                            "Get_worker_position_hierarchy": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items",
                                "queries": {
                                  "$filter": "POSITION_ID eq '@{items('Loop_through_posHier')?['PositionId']}'",
                                  "$select": "EMAILADDRESS"
                                }
                              },
                              "runAfter": {}
                            },
                            "Check_worker_position_hierarchy": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@length(body('Get_worker_position_hierarchy')?['value'])",
                                      1
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Update_Position_Hierarchy": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['oracle']['connectionId']"
                                      }
                                    },
                                    "method": "patch",
                                    "body": {
                                      "TALENT_ID": "@{items('Loop_through_posHier')?['WorkerNumber']}",
                                      "POSITION_ID": "@{items('Loop_through_posHier')?['PositionId']}",
                                      "LINEMANAGER_POSITION_ID": "@{items('Loop_through_posHier')?['ParentPositionId']}"
                                    },
                                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items/@{encodeURIComponent(encodeURIComponent(items('Loop_through_posHier')?['PositionId']))}"
                                  },
                                  "runAfter": {}
                                },
                                "Execute_Position_Hierarchy_stored_procedure": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "EXECUTIONID": "@{items('Loop_through_posHier')?['ExecutionIdPositionHierarchy']}",
                                      "HIERARCHYTYPENAME": "@{items('Loop_through_posHier')?['HierarchyTypeName']}",
                                      "PARTITION": "@{items('Loop_through_posHier')?['PartitionPositionHierarchy']}",
                                      "POSITIONID": "@{items('Loop_through_posHier')?['PositionId']}",
                                      "VALIDFROM": "@{formatDateTime(items('Loop_through_posHier')?['ValidFrom'], 'yyyy-MM-ddTHH:mm:ssZ')}",
                                      "VALIDTO": "@{formatDateTime(items('Loop_through_posHier')?['ValidTo'], 'yyyy-MM-ddTHH:mm:ssZ')}"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_flag_processed_HcmPositionHierarchyStaging]'))}"
                                  },
                                  "runAfter": {
                                    "Update_Position_Hierarchy": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {
                                "Get_worker_position_hierarchy": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    },
                    "Position_Financial_Dimension_Case": {
                      "case": "byod/talent/PositionFinancialDimensions",
                      "actions": {
                        "Loop_through_posFD": {
                          "type": "Foreach",
                          "foreach": "@triggerBody()['items']",
                          "actions": {
                            "Check_worker_position_FD": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "equals": [
                                      "@length(body('Get_worker_position_FD')?['value'])",
                                      1
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Update_Position_FD": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['oracle']['connectionId']"
                                      }
                                    },
                                    "method": "patch",
                                    "body": {
                                      "TALENT_ID": "@{items('Loop_through_posFD')?['WorkerNumber']}",
                                      "POSITION_ID": "@{items('Loop_through_posFD')?['PositionId']}",
                                      "JOBTITLE": "@{items('Loop_through_posFD')?['JobTitle']}",
                                      "JOBLEVEL": "@{items('Loop_through_posFD')?['JobLevel']}",
                                      "FEEEARNER": "@{items('Loop_through_posFD')?['FeeEarner']}",
                                      "CONSULTANTTYPE": "@{items('Loop_through_posFD')?['ConsultantType']}",
                                      "RS_CODE": "@{items('Loop_through_posFD')?['RsCode']}"
                                    },
                                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items/@{encodeURIComponent(encodeURIComponent(items('Loop_through_posFD')?['PositionId']))}"
                                  },
                                  "runAfter": {}
                                },
                                "Execute_Position_FD_stored_procedure": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['sql']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "DATAAREAID": "@{items('Loop_through_posFD')?['LegalEntityId']}",
                                      "EXECUTIONID": "@{items('Loop_through_posFD')?['ExecutionIdPositionFD']}",
                                      "LEGALENTITYDATAAREA": "@{items('Loop_through_posFD')?['LegalEntityDataArea']}",
                                      "PARTITION": "@{items('Loop_through_posFD')?['PartitionPositionFD']}",
                                      "POSITIONID": "@{items('Loop_through_posFD')?['PositionId']}"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_flag_processed_HcmPositionDefaultDimensionStaging]'))}"
                                  },
                                  "runAfter": {
                                    "Update_Position_FD": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {
                                "Get_worker_position_FD": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Get_worker_position_FD": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['oracle']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[TALENT].[TALENT_STAFF]'))}/items",
                                "queries": {
                                  "$filter": "POSITION_ID eq '@{items('Loop_through_posFD')?['PositionId']}'",
                                  "$select": "EMAILADDRESS"
                                }
                              },
                              "runAfter": {}
                            }
                          },
                          "runAfter": {}
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "var_PositionAssignmentStart": [
                  "Succeeded"
                ]
              }
            },
            "Confirm_status_of_Oracle_scope": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@result('Oracle_BYOD_Scope')[0]['status']",
                        "Succeeded"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Error_handling_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@{parameters('supportEmailAddress')}",
                      "Subject": "Error occurred on @{parameters('logicAppName')} workflow running in Azure",
                      "Body": "Hello Support\n\nAn error occurred during the processing of records received from MIS service bus queue. This error happened inside the loop through JSON payload.\nPlease investigate this issue in Azure. The workflow project is called @{parameters('logicAppName')}.\n\nOnce this problem has been resolved the record will be re-discovered and should be processed successfully.\n\nThank you\n"
                    },
                    "path": "/Mail"
                  },
                  "runAfter": {}
                },
                "Response": {
                  "type": "Response",
                  "kind": "http",
                  "inputs": {
                    "statusCode": 200
                  },
                  "runAfter": {
                    "Error_handling_email": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Oracle_BYOD_Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Response_2": {
                    "type": "Response",
                    "kind": "http",
                    "inputs": {
                      "statusCode": 200
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "var_PositionAssignmentStart": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Position Start Date",
                    "type": "String",
                    "value": "@{null}"
                  }
                ]
              },
              "runAfter": {}
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "logicAppName": {
              "type": "String",
              "defaultValue": "[parameters('logicAppName')]"
            },
            "tableSchema": {
              "type": "String",
              "defaultValue": "[parameters('TableSchema')]"
            },
            "sqlServerName": {
              "type": "String",
              "defaultValue": "[parameters('SqlServerName')]"
            },
            "sqlDatabaseName": {
              "type": "String",
              "defaultValue": "[parameters('SqlDatabaseName')]"
            },
            "supportEmailAddress": {
              "type": "String",
              "defaultValue": "[parameters('SupportEmailAddress')]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "items": {
                    "type": "array"
                  },
                  "querySubject": {
                    "type": "string"
                  },
                  "required": [
                    "items",
                    "querySubject"
                  ],
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "oracle": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
                "connectionName": "[parameters('oracle_1_Connection_Name')]"
              },
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "office365_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('oracle_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]"
        },
        "displayName": "[parameters('oracle_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('oracle_1_server')]",
          "authType": "[parameters('oracle_1_authType')]",
          "username": "[parameters('oracle_1_username')]",
          "password": "[parameters('oracle_1_password')]",
          "gateway": {
            "id": "[parameters('oracle_1_gateway_id')]"
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}