i106-talent-to-mis-logic-apps/RWSunriseI106-LeaveRequests/bin/Debug/staging/RWSunriseI106-LeaveRequests/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      },
      "defaultValue": ""
    },
    "tableSchema": {
      "type": "string",
      "metadata": {
        "description": "Database table schema"
      },
      "defaultValue": ""
    },
    "sqlServerName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of SQL Server host"
      },
      "defaultValue": ""
    },
    "sqlDatabaseName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of Database"
      },
      "defaultValue": ""
    },
    "legalEntities": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "List of allowed legal entities"
      },
      "defaultValue": ""
    },
    "SupportEmailAddress": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Email address for error handling"
      },
      "defaultValue": ""
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Talent BYOD PROD"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "byodb-prod.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "TALENT-BYODB-PROD"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "oracle_1_Connection_Name": {
      "type": "string",
      "defaultValue": "oracle"
    },
    "oracle_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Oracle Talent PROD Staging"
    },
    "oracle_1_server": {
      "type": "string",
      "metadata": {
        "description": "Specify the Oracle Server. If a port or SID is required, specify in the form of ServerName:Port/SID."
      },
      "defaultValue": "ZUK1.WORLD"
    },
    "oracle_1_authType": {
      "type": "string",
      "metadata": {
        "description": "Authentication type to connect to your database"
      },
      "defaultValue": "basic",
      "allowedValues": [
        "basic"
      ]
    },
    "oracle_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "oracle_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "oracle_1_gateway_id": {
      "type": "string",
      "defaultValue": "/subscriptions/51132d16-72f5-491f-90db-30b922b816e6/resourceGroups/RW-RG-NE-DataGateway/providers/Microsoft.Web/connectionGateways/DataGWProd-ANE"
    },
    "office365_1_Connection_Name": {
      "type": "string",
      "defaultValue": "office365"
    },
    "office365_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "ERPservicealerts@robertwalters.com"
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "var_QueryEmptyResultObj": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Query Empty Result Object",
                    "type": "Object",
                    "value": {}
                  }
                ]
              },
              "runAfter": {}
            },
            "Oracle_Scope": {
              "type": "Scope",
              "actions": {
                "Query_Leave_Requests": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['sql']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "query": "select TOP (5000) L.PERSONNELNUMBER\n, L.TRANSACTIONDATE\n, L.AMOUNT\n, L.LEAVETYPEID\n, L.EXECUTIONID\n, L.PARTITION\n, L.DATAAREAID \n, L.TRANSACTIONNUMBER\n, L.TRANSACTIONTYPE\n, L.LEAVEPLANID\n, P.POSITIONID\nFrom [@{parameters('tableSchema')}].[uvw_LeaveBankTransactionStaging] L\nCross Apply (select top 1 POSITIONID\nFrom [@{parameters('tableSchema')}].[HcmPositionV2Staging] P \nWhere P.WORKERPERSONNELNUMBER = L.PERSONNELNUMBER\nAnd GETDATE() Between P.WORKERASSIGNMENTSTART AND P.WORKERASSIGNMENTEND) P\nWhere DATAAREAID In (@{parameters('legalEntities')})\nAND TRANSACTIONTYPE = 2"
                    },
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/query/sql"
                  },
                  "runAfter": {}
                },
                "Check_Query_Leave_Request": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Query_Leave_Requests')?['resultsets']",
                            "@variables('Query Empty Result Object')"
                          ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Loop_leave_requests": {
                      "type": "Foreach",
                      "foreach": "@body('Query_Leave_Requests')?['resultsets']['Table1']",
                      "actions": {
                        "Execute_Leave_stored_procedure": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['oracle_1']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "PTALENTID": "@{items('Loop_leave_requests')?['PERSONNELNUMBER']}",
                              "PPOSITIONID": "@{items('Loop_leave_requests')?['POSITIONID']}",
                              "PLEAVETYPE": "@{items('Loop_leave_requests')?['LEAVETYPEID']}",
                              "PLEAVEDATE": "@{formatDateTime(items('Loop_leave_requests')?['TRANSACTIONDATE'], 'yyyy-MM-dd')}",
                              "PINSERTORDELETE": "I"
                            },
                            "path": "/datasets/default/procedures/@{encodeURIComponent(encodeURIComponent('TALENT.TALADDLEAVERECORD'))}"
                          },
                          "runAfter": {}
                        },
                        "Execute_Leave_complete_stored_procedure": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['sql']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "DATAAREAID": "@{items('Loop_leave_requests')?['DATAAREAID']}",
                              "EXECUTIONID": "@{items('Loop_leave_requests')?['EXECUTIONID']}",
                              "LEAVETYPEID": "@{items('Loop_leave_requests')?['LEAVETYPEID']}",
                              "PARTITION": "@{items('Loop_leave_requests')?['PARTITION']}",
                              "PERSONNELNUMBER": "@{items('Loop_leave_requests')?['PERSONNELNUMBER']}",
                              "TRANSACTIONDATE": "@{formatDateTime(items('Loop_leave_requests')?['TRANSACTIONDATE'], 'yyyy-MM-ddTHH:mm:ssZ')}",
                              "TRANSACTIONNUMBER": "@float(items('Loop_leave_requests')?['TRANSACTIONNUMBER'])",
                              "TRANSACTIONTYPE": "@int(items('Loop_leave_requests')?['TRANSACTIONTYPE'])"
                            },
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_flag_processed_LeaveBankTransactionStaging]'))}"
                          },
                          "runAfter": {
                            "Execute_Leave_stored_procedure": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "Update_UPDATED_ENTITIES_Leave_-_Y": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Update_UPDATED_ENTITIES_Leave_-_Y": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "query": "update [@{parameters('tableSchema')}].[UPDATED_ENTITIES]\nset TO_BE_PROCESSED = 'Y'\nwhere TABLE_NAME = 'LeaveBankTransactionStaging'"
                        },
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/query/sql"
                      },
                      "runAfter": {}
                    },
                    "Update_UPDATED_ENTITIES_Leave_-_N": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['sql']['connectionId']"
                          }
                        },
                        "method": "post",
                        "body": {
                          "query": "update [@{parameters('tableSchema')}].[UPDATED_ENTITIES]\nset TO_BE_PROCESSED = 'N'\nwhere TABLE_NAME = 'LeaveBankTransactionStaging'"
                        },
                        "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/query/sql"
                      },
                      "runAfter": {
                        "Loop_leave_requests": [
                          "Succeeded",
                          "Failed",
                          "Skipped",
                          "TimedOut"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "Query_Leave_Requests": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "var_QueryEmptyResultObj": [
                  "Succeeded"
                ]
              }
            },
            "Confirm_status_of_Oracle_scope": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@result('Oracle_Scope')[0]['status']",
                        "Succeeded"
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Send_an_email": {
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['office365_1']['connectionId']"
                      }
                    },
                    "method": "post",
                    "body": {
                      "To": "@{parameters('supportEmailAddress')}",
                      "Subject": "Error occurred on @{parameters('logicAppName')} workflow running in Azure",
                      "Body": "Hello Support\n\nAn error has occurred during the processing of Leave request records.\nPlease investigate this issue in Azure. The workflow project is called @{parameters('logicAppName')}.\n\nThank you\n"
                    },
                    "path": "/Mail"
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Oracle_Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "logicAppName": {
              "type": "String",
              "defaultValue": "[parameters('logicAppName')]"
            },
            "tableSchema": {
              "type": "String",
              "defaultValue": "[parameters('tableSchema')]"
            },
            "sqlServerName": {
              "type": "String",
              "defaultValue": "[parameters('sqlServerName')]"
            },
            "sqlDatabaseName": {
              "type": "String",
              "defaultValue": "[parameters('sqlDatabaseName')]"
            },
            "legalEntities": {
              "type": "String",
              "defaultValue": "[parameters('legalEntities')]"
            },
            "supportEmailAddress": {
              "type": "String",
              "defaultValue": "[parameters('SupportEmailAddress')]"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Day",
                "interval": 1,
                "startTime": "2019-10-15T23:50:00Z"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              },
              "oracle_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
                "connectionName": "[parameters('oracle_1_Connection_Name')]"
              },
              "office365_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]",
                "connectionName": "[parameters('office365_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('oracle_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('office365_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('oracle_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'oracle')]"
        },
        "displayName": "[parameters('oracle_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('oracle_1_server')]",
          "authType": "[parameters('oracle_1_authType')]",
          "username": "[parameters('oracle_1_username')]",
          "password": "[parameters('oracle_1_password')]",
          "gateway": {
            "id": "[parameters('oracle_1_gateway_id')]"
          }
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'office365')]"
        },
        "displayName": "[parameters('office365_1_Connection_DisplayName')]"
      }
    }
  ],
  "outputs": {}
}