i106-talent-to-mis-logic-apps/RWSunrise-I106-QueryCDS-Timestamp/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      },
      "defaultValue": ""
    },
    "CustomCDSEnvironmentName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "CDS environment name"
      },
      "defaultValue": ""
    },
    "SqlServerName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of SQL Server host"
      },
      "defaultValue": ""
    },
    "SqlDatabaseName": {
      "type": "string",
      "minLength": 1,
      "metadata": {
        "description": "Name of Database"
      },
      "defaultValue": ""
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Talent BYOD PROD"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "byodb-prod.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "TALENT-BYODB-PROD"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    },
    "commondataservice_1_Connection_Name": {
      "type": "string",
      "defaultValue": "commondataservice"
    },
    "commondataservice_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "D365AppAdmin@robertwalters.com"
    },
    "commondataservice_1_environment": {
      "type": "string",
      "metadata": {
        "description": "Environment id"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "var_CreatedDateTime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Created DateTime",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {}
            },
            "var_UpdatedDateTime": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Updated DateTime",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "var_CreatedDateTime": [
                  "Succeeded"
                ]
              }
            },
            "Query_CDS_Scope": {
              "type": "Scope",
              "actions": {
                "Switch": {
                  "type": "Switch",
                  "expression": "@triggerBody()?['entityType']",
                  "cases": {
                    "Worker_Case": {
                      "case": "Worker",
                      "actions": {
                        "Query_Talent_CDS": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_workers'))}/items",
                            "queries": {
                              "$filter": "cdm_workernumber eq '@{triggerBody()['workerNumber']}'"
                            }
                          },
                          "runAfter": {}
                        },
                        "Confirm_employee_exist": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Query_Talent_CDS')?['value'])",
                                  1
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_Created_DateTime_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Created DateTime",
                                "value": "@{body('Query_Talent_CDS')?['value'][0]['createdon']}"
                              },
                              "runAfter": {}
                            },
                            "Set_Updated_DateTime_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Updated DateTime",
                                "value": "@{body('Query_Talent_CDS')?['value'][0]['modifiedon']}"
                              },
                              "runAfter": {
                                "Set_Created_DateTime_variable": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Update_BYOD_Worker_Audit_table": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "CREATED_BY": "@variables('Created By')",
                                  "CREATED_ON": "@{formatDateTime(variables('Created DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}",
                                  "PERSONNELNUMBER": "@triggerBody()['workerNumber']",
                                  "UPDATED_BY": "@variables('Updated By')",
                                  "UPDATED_ON": "@{formatDateTime(variables('Updated DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}"
                                },
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_audit_HcmWorkerStaging]'))}"
                              },
                              "runAfter": {
                                "Set_Updated_DateTime_variable": [
                                  "Succeeded"
                                ]
                              },
                              "description": "Please be aware that currently Created by and Updated by values are not exposed. So these fields are omitted."
                            }
                          },
                          "runAfter": {
                            "Query_Talent_CDS": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "Employment_Case": {
                      "case": "Employment",
                      "actions": {
                        "Query_Worker_CDS": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_workers'))}/items",
                            "queries": {
                              "$filter": "cdm_workernumber eq '@{triggerBody()['workerNumber']}'"
                            }
                          },
                          "runAfter": {}
                        },
                        "Confirm_worker_exist": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Query_Worker_CDS')?['value'])",
                                  1
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Query_Employment_CDS": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['commondataservice']['connectionId']"
                                  }
                                },
                                "method": "get",
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_employments'))}/items",
                                "queries": {
                                  "$filter": "_cdm_workerid_value eq '@{body('Query_Worker_CDS')?['value'][0]['cdm_workerid']}'"
                                }
                              },
                              "runAfter": {}
                            },
                            "Confirm_Employment_exist": {
                              "type": "If",
                              "expression": {
                                "and": [
                                  {
                                    "greater": [
                                      "@length(body('Query_Employment_CDS')?['value'])",
                                      0
                                    ]
                                  }
                                ]
                              },
                              "actions": {
                                "Set_Created_DateTime_emp_variable": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "Created DateTime",
                                    "value": "@{body('Query_Employment_CDS')?['value'][0]['createdon']}"
                                  },
                                  "runAfter": {}
                                },
                                "Set_Updated_DateTime_emp_variable": {
                                  "type": "SetVariable",
                                  "inputs": {
                                    "name": "Updated DateTime",
                                    "value": "@{body('Query_Employment_CDS')?['value'][0]['modifiedon']}"
                                  },
                                  "runAfter": {
                                    "Set_Created_DateTime_emp_variable": [
                                      "Succeeded"
                                    ]
                                  }
                                },
                                "Update_BYOD_Employment_Audit_table": {
                                  "type": "ApiConnection",
                                  "inputs": {
                                    "host": {
                                      "connection": {
                                        "name": "@parameters('$connections')['sql_1']['connectionId']"
                                      }
                                    },
                                    "method": "post",
                                    "body": {
                                      "CREATED_BY": "@variables('Created By')",
                                      "CREATED_ON": "@{formatDateTime(variables('Created DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}",
                                      "EMPLOYMENTENDDATE": "@{formatDateTime(triggerBody()['empEndDate'], 'yyyy-MM-ddTHH:mm:ssZ')}",
                                      "EMPLOYMENTSTARTDATE": "@{formatDateTime(triggerBody()['empStartDate'], 'yyyy-MM-ddTHH:mm:ssZ')}",
                                      "LEGALENTITYID": "@triggerBody()['legalEntity']",
                                      "PERSONNELNUMBER": "@triggerBody()['workerNumber']",
                                      "UPDATED_BY": "@variables('Updated By')",
                                      "UPDATED_ON": "@{formatDateTime(variables('Updated DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_audit_HcmEmploymentStaging]'))}"
                                  },
                                  "runAfter": {
                                    "Set_Updated_DateTime_emp_variable": [
                                      "Succeeded"
                                    ]
                                  }
                                }
                              },
                              "runAfter": {
                                "Query_Employment_CDS": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Query_Worker_CDS": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "Position_Case": {
                      "case": "Position",
                      "actions": {
                        "Query_Job_Position_CDS": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_jobpositions'))}/items",
                            "queries": {
                              "$filter": "cdm_jobpositionnumber eq '@{triggerBody()?['positionId']}'"
                            }
                          },
                          "runAfter": {}
                        },
                        "Confirm_position_exist": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "greater": [
                                  "@length(body('Query_Job_Position_CDS')?['value'])",
                                  0
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_Created_DateTime_position_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Created DateTime",
                                "value": "@{body('Query_Job_Position_CDS')?['value'][0]['createdon']}"
                              },
                              "runAfter": {}
                            },
                            "Set_Updated_DateTime_position_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Updated DateTime",
                                "value": "@{body('Query_Job_Position_CDS')?['value'][0]['modifiedon']}"
                              },
                              "runAfter": {
                                "Set_Created_DateTime_position_variable": [
                                  "Succeeded"
                                ]
                              }
                            },
                            "Update_BYOD_Position_Audit_table": {
                              "type": "ApiConnection",
                              "inputs": {
                                "host": {
                                  "connection": {
                                    "name": "@parameters('$connections')['sql_1']['connectionId']"
                                  }
                                },
                                "method": "post",
                                "body": {
                                  "CREATED_BY": "@variables('Created By')",
                                  "CREATED_ON": "@{formatDateTime(variables('Created DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}",
                                  "POSITIONID": "@triggerBody()?['positionId']",
                                  "UPDATED_BY": "@variables('Updated By')",
                                  "UPDATED_ON": "@{formatDateTime(variables('Updated DateTime'), 'yyyy-MM-ddTHH:mm:ssZ')}"
                                },
                                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('sqlServerName')))},@{encodeURIComponent(encodeURIComponent(parameters('sqlDatabaseName')))}/procedures/@{encodeURIComponent(encodeURIComponent('[dbo].[usp_audit_HcmPositionV2Staging]'))}"
                              },
                              "runAfter": {
                                "Set_Updated_DateTime_position_variable": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Query_Job_Position_CDS": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "Department_Case": {
                      "case": "Department",
                      "actions": {
                        "Query_Department_CDS": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_departments'))}/items",
                            "queries": {
                              "$filter": "cdm_departmentnumber eq '@{triggerBody()?['departmentNumber']}'"
                            }
                          },
                          "runAfter": {}
                        },
                        "Confirm_department_exist": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Query_Department_CDS')?['value'])",
                                  1
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_Created_DateTime_department_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Created DateTime",
                                "value": "@{body('Query_Department_CDS')?['value'][0]['createdon']}"
                              },
                              "runAfter": {}
                            },
                            "Set_Updated_DateTime_department_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Updated DateTime",
                                "value": "@{body('Query_Department_CDS')?['value'][0]['modifiedon']}"
                              },
                              "runAfter": {
                                "Set_Created_DateTime_department_variable": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Query_Department_CDS": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    },
                    "CompensationRegion_Case": {
                      "case": "CompensationRegionID",
                      "actions": {
                        "Query_CompensationRegionID_CDS": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['commondataservice']['connectionId']"
                              }
                            },
                            "method": "get",
                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent(parameters('customCDSEnvironmentName')))}/tables/@{encodeURIComponent(encodeURIComponent('cdm_compensationregions'))}/items",
                            "queries": {
                              "$filter": "cdm_name eq '@{triggerBody()?['compensationRegionID']}'"
                            }
                          },
                          "runAfter": {}
                        },
                        "Confirm_compensationRegionID_exist": {
                          "type": "If",
                          "expression": {
                            "and": [
                              {
                                "equals": [
                                  "@length(body('Query_CompensationRegionID_CDS')?['value'])",
                                  1
                                ]
                              }
                            ]
                          },
                          "actions": {
                            "Set_Created_DateTime_compensationRegionID_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Created DateTime",
                                "value": "@{body('Query_CompensationRegionID_CDS')?['value'][0]['createdon']}"
                              },
                              "runAfter": {}
                            },
                            "Set_Updated_DateTime_compensationRegionID_variable": {
                              "type": "SetVariable",
                              "inputs": {
                                "name": "Updated DateTime",
                                "value": "@{body('Query_CompensationRegionID_CDS')?['value'][0]['modifiedon']}"
                              },
                              "runAfter": {
                                "Set_Created_DateTime_compensationRegionID_variable": [
                                  "Succeeded"
                                ]
                              }
                            }
                          },
                          "runAfter": {
                            "Query_CompensationRegionID_CDS": [
                              "Succeeded"
                            ]
                          }
                        }
                      }
                    }
                  },
                  "default": {
                    "actions": {}
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "var_UpdatedBy": [
                  "Succeeded"
                ]
              }
            },
            "Confirm_Status_of_Query_CDS_Scope": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@result('Query_CDS_Scope')[0]['status']",
                      "Succeeded"
                    ]
                  }
                ]
              },
              "actions": {
                "Response": {
                  "type": "Response",
                  "kind": "http",
                  "inputs": {
                    "statusCode": 200,
                    "headers": {
                      "content-type": "application/json"
                    },
                    "body": {
                      "createdDateTime": "@variables('Created DateTime')",
                      "updatedDateTime": "@variables('Updated DateTime')"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Query_CDS_Scope": [
                  "Succeeded",
                  "Failed",
                  "Skipped",
                  "TimedOut"
                ]
              },
              "else": {
                "actions": {
                  "Empty_Response": {
                    "type": "Response",
                    "kind": "http",
                    "inputs": {
                      "statusCode": 200,
                      "headers": {
                        "content-type": "application/json"
                      },
                      "body": {}
                    },
                    "runAfter": {}
                  }
                }
              }
            },
            "var_CreatedBy": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Created By",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "var_UpdatedDateTime": [
                  "Succeeded"
                ]
              }
            },
            "var_UpdatedBy": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Updated By",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {
                "var_CreatedBy": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "logicAppName": {
              "type": "String",
              "defaultValue": "[parameters('logicAppName')]"
            },
            "customCDSEnvironmentName": {
              "type": "String",
              "defaultValue": "[parameters('CustomCDSEnvironmentName')]"
            },
            "sqlServerName": {
              "type": "String",
              "defaultValue": "[parameters('SqlServerName')]"
            },
            "sqlDatabaseName": {
              "type": "String",
              "defaultValue": "[parameters('SqlDatabaseName')]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "workerNumber": {
                      "type": "string"
                    },
                    "entityType": {
                      "type": "string"
                    },
                    "legalEntity": {
                      "type": "string"
                    },
                    "empStartDate": {
                      "type": "string"
                    },
                    "empEndDate": {
                      "type": "string"
                    },
                    "positionId": {
                      "type": "string"
                    },
                    "departmentNumber": {
                      "type": "string"
                    },
                    "partyNumber": {
                      "type": "string"
                    },
                    "compensationRegionID": {
                      "type": "string"
                    },
                    "compensationLocation": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "workerNumber",
                    "entityType"
                  ],
                  "type": "object"
                },
                "method": "POST"
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "commondataservice": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'commondataservice')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('commondataservice_1_Connection_Name'))]",
                "connectionName": "[parameters('commondataservice_1_Connection_Name')]"
              },
              "sql_1": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('commondataservice_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('commondataservice_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'commondataservice')]"
        },
        "displayName": "[parameters('commondataservice_1_Connection_DisplayName')]",
        "nonSecretParameterValues": {
          "environment": "[parameters('commondataservice_1_environment')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}